article {
  text-align: left;
  width: 100%;
  margin-top: 50px;
}

article body {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

article li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: circle;
  list-style-position: outside;
  padding-left: 10px;
}

article li:hover {
  cursor: auto;
}

.locationTime {
  text-align: right;
  margin-left: auto;
  padding-right: 15px;
}

.locationTime h2 {
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

.title h1 {
  font-size: 28px;
  font-family: Consolas;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

.title h2 {
  margin-top: 6px;
}

.mainCard {
  padding: 30px;
}

.mainCard p {
  padding-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

article header {
  min-height: 70px;
  display: flex;
  font-family: Consolas;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header .logo {
  padding: 5px 15px 5px 15px;
}

.collageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  justify-content: space-between;
}

.profileImage {
  max-width: 25%;
}

.iconSet {
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}

.iconWrapper {
  width: 50px;
  margin: 15px;
}
